fr-Xabi08-CAPAlgorythmCore/__pycache__/__init__.cpython-39.pyc
fr-Xabi08-CAPAlgorythmCore/__pycache__/basicDBCtrl.cpython-39.pyc
fr-Xabi08-CAPAlgorythmCore/__pycache__/tuteurs.cpython-39.pyc
fr-Xabi08-CAPAlgorythmCore/__pycache__/utils.cpython-39.pyc
PythonEnv/App/Python/Lib/tkinter/__pycache__/dialog.cpython-310.pyc
PythonEnv/App/Python/Lib/tkinter/__pycache__/filedialog.cpython-310.pyc
PythonEnv/App/Python/Lib/tkinter/__pycache__/simpledialog.cpython-310.pyc
CAPalgorythmV1.4.4-WINDOWS10.rar
