<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form>
        <label for="name">Nom de l'élève:</label>
        <input id="name" placeholder="Nom" required>
        <label for="surname">Prénom de l'éleve:</label>
        <input id="surname" placeholder="Prénom" required>
        <label for="group">Classe:</label>
        <select id="group" required>
            <option value="2E6">2nde 6</option>
            <option value="2E5">2nde 5</option>
            <option value="2E4">2nde 4</option>
            <option value="2E3">2nde 3</option>
            <option value="2E2">2nde 2</option>
            <option value="2E1">2nde 1</option>
            <option value="1TC5">1ere TC5</option>
            <option value="1TC4">1ere TC4</option>
            <option value="1TC3">1ere TC3</option>
            <option value="1TC2">1ere TC2</option>
            <option value="1TC1">1ere TC1</option>
            <option value="TE4">Terminale 4</option>
            <option value="TE3">Terminale 3</option>
            <option value="TE2">Terminale 2</option>
            <option value="TE1">Terminale 1</option>
        </select>
        <label for="subjects">Matières</label>
        <select id="subjects" required>
            <option value="Allemand">Allemand</option>
            <option value="Anglais">Anglais</option>
            <option value="EMC">EMC</option>
            <option value="ESPC">Enseignement Scientifique Phyisique</option>
            <option value="ESSVT">Enseignement Scientifique SVT</option>
            <option value="Espagnol">Espagnol</option>
            <option value="Francais">Français</option>
            <option value="HGGSP">HGGSP</option>
            <option value="HLP">HLP</option>
            <option value="Hist-Geo">Histoire-Géographie</option>
            <option value="LittAng">Littérature Anglaise</option>
            <option value="Maths">Mathématiques Spé</option>
            <option value="MathsTC">Mathématiques Tronc Commun</option>
            <option value="Musique">Musique</option>
            <option value="NSI/SNT">NSI/SNT</option>
            <option value="Philosophie">Philosophie</option>
            <option value="PC-Spe">Phyisique Spé</option>
            <option value="SES">SES</option>
            <option value="SVT-Spe">SVT Spé</option>
        </select>
        <input type="submit" value="Valider">
    </form>
</body>
</html>